# Dependencies
node_modules/
.pnpm-store/

# Environment
.env
.env.local
.env.production
.env.*.local

# Logs - IMPORTANTE
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/migrations/**/migration.sql.backup
src/generated/prisma
prisma/seed.js

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/